{
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-sort-json"],
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "jsonRecursiveSort": true
}
